#contact {
    background: #fff;
    padding-bottom: 40px;
    padding-top: 30px;
    min-height: calc(100vh - 55px)
}

@media only screen and (min-width: 640px) {
    #contact {
        min-height:calc(100vh - 136px);
        padding-bottom: 0;
        padding-top: 60px
    }
}

#contact h1 {
    margin-bottom: 30px
}

@media only screen and (min-width: 640px) {
    #contact h1 {
        margin-bottom:30px;
        margin-top: 17px
    }
}

#contact p {
    margin-left: 0
}

#contact section {
    margin-bottom: 0
}

@media (max-width: 639px) {
    #contact .columns:first-child {
        margin-bottom:30px
    }
}

@media (max-width: 639px) {
    .contact--furioso {
        position:absolute;
        right: 20px
    }
}